.main-trips {
    
    &__wrapper {

    }

    &__trip{
        display: flex;
        flex-direction: column;

        @mixin atLarge {
            flex-direction: row;
        }
    }

    &__trip-1 {

    }

    &__trip-2 .main-trips__imgs{
        @mixin atLarge {
            order: 1;
        }
    }

    &__trip-2 .main-trips__details {
        @mixin atLarge {
            order: 2;
        }
    }

    &__imgs {
        background-color: $tan;
        position: relative;
        order: 2;
        display: flex;
        justify-items: stretch;
        height: 10rem;
        width: 100%;
        @mixin atSmall {
            height: 15rem;
        }

        @mixin atLarge{
            height: 50rem;
            flex: 40%;
            display: block;
            background-color: $tan;
        }
        
        @mixin atXXLarge{
            height: 60rem;
        }
    }

    &__img {
        /*so the images stretch and cover the whole width of its parent*/
        flex: 1;

        @mixin atLarge {
            width: 25rem;
            height: 18rem;
            position: absolute;
            box-shadow: 3px 5px 5px rgba(0,0,0,.3);
        }

        @mixin atXLarge {
            width: 30rem;
            height: 20rem;
        }

        @mixin atXXLarge {
            width: 40rem;
            height: 30rem;
        }
    }

    &__img img {
        height: 100%;    
        width: 100%;
    }

    &__img-1 {
        z-index: 1;
        top: 5rem;
        left: 5rem;
    }

    &__img-2 {
        z-index: 3;
        top: 15rem;
        right: 5rem;
        @mixin atXXLarge{
            right: 8rem;
        }
        
    }

    &__img-3 {
        z-index: 2;
        bottom: 5rem;
        left: 8rem;

        @mixin atXXLarge{
            left: 15rem;
        }
    }

    &__details {
        order: 1;
        background-color: $primary;
        color: $snow;
        padding: 3.5rem;

        @mixin atSmall {
            padding: 5rem;
        }

        @mixin atMedium {
            flex: 60%;
            padding: 7rem;
        }

        @mixin atLarge {
            padding: 10rem;
            height: 50rem;
        }

        @mixin atXLarge {
            padding: 15rem;
        }

        @mixin atXXLarge{
            height: 60rem;
            padding: 20rem;
        }
    }

    &__heading {
        color: $tan;
        font-size: 3rem;
        padding-bottom: 1rem;
        margin-bottom: 2rem;
        border-bottom: 1px solid $tan;

        @mixin atSmall {
            font-size: 4rem;
        }

        @mixin atLarge {
            font-size: 5rem;
        }

        @mixin atXXLarge{
            left: 15rem;
        }
    }

    &__description {
        font-size: 1.3rem;
        line-height: 1.5;
        text-align: center;

        @mixin atSmall {
            font-size: 1.6rem;
        }
        @mixin atLarge {
            font-size: 2rem;
        }
    }

}