.blog{
    padding: 5rem 0;

    &__blogs {
        width: 70%;
        margin: 0 auto;
    }

    &__post {
        @mixin clearfix;
        margin: 3rem 0;

        &:not(:last-of-type){
            padding: 1.5rem;
            border-bottom: 1px dotted $primary;
        }
    }

    


}