.btn {
    font-size: 1.6rem;
    display: inline-block;
    padding: .8rem 1.2rem;
    background-color: $primary;
    border-radius: .3rem;

    &__trip--right {
        margin-left: .5rem;
        background-color: $secondary;
        color: $primary;
    }

    &__blog::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        background-color: $primary;
        transform: scaleX(0);
        transition: transform 300ms ease-in-out;
    }

    &__blog:hover::before {
        transform: scale(1);
    }

    &__blog {
        color: $primary;
        background-color: $snow;
        border: 1px solid $primary;
        position: relative;
        z-index: 1;
        transition: color 300ms ease-in-out;
        transform-origin: left;
    }

    &__blog:hover {
        color: $snow;
    }

    &--right {
        float: right;
    }

    &--light {
        background-color: $secondary;
        color: $primary;

        &:hover {
            background-color: $primary;
            color: $secondary;
        }
    }

    &--small {
        font-size: 1rem;
    }

    &--shadow {
        box-shadow: 1px 3px 3px rgba(0,0,0,.4);
    }

    &--uppercase {
        text-transform: uppercase;
    }

    &--submit {
        outline: none;
        border: none;
        color: $tan;
        font-size: 1.3rem;
        border-top-left-radius: none;
        border-bottom-left-radius: none;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        transition: .3s;

        &:hover {
            background-color: $tan;
            color: $primary;
        } 
    }   
}