.header {
    background-color: $primary;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
   
    
    &__logo {
        font-size: 3rem;
        display: inline-block;
        padding: 1rem 0;
        letter-spacing: .1rem;

        @mixin atLarge {
            font-size: 5rem;
        }

        @mixin atXXLarge {
            font-size: 7rem;
        }
    }
}