.heading {
    &__main {
        color: $primary;
        font-size: 2.5rem;
        margin-bottom: 1rem;
        @mixin atSmall {
            font-size: 3.5rem;
        }

        @mixin atLarge {
            font-size: 4.5rem;
        }

        &--small {
            font-size: 2rem;
            margin-bottom: .5rem;

            @mixin atLarge {
                font-size: 3rem;
            }
        }

        &--blog {
            text-align: center;
            font-style: italic;

            span {
                color: $secondary;
                position: relative;
                top: 25px;
                left: -30px;
            }

            @mixin atLarge {
                font-size: 4.5rem;
            }
        }
    }

    &__sub{
        font-size: 2rem;
        font-style: italic;
        color: $primary;

        @mixin atLarge {
            font-size: 3rem;
        }
    }

    &__sub--normal{
        font-style: normal;
    }

    &__author {
        font-size: 1.5rem;
        margin: 1rem 0;
        color: $primary;

        @mixin atLarge {
            font-size: 2rem;
        }
    }

    &__description {
        color: $grey;
        font-size: 1.3rem;
        margin-bottom: .5rem;

        @mixin atSmall {
            font-size: 1.6rem;
            margin-bottom: 1rem;
        }

        @mixin atLarge {
            font-size: 2rem;
            margin-bottom: 2rem;
        }

        &--blog {
            font-size: 1.2rem;
            color: $grey;

            @mixin atLarge {
                font-size: 1.6rem;
                margin-bottom: 2rem;
            }
        }

        &--light {
            color: $lightGrey;
        }
    }

    &--light {
        color: $secondary;
    }

    


}