.hero {
    padding: 5rem 0 5rem;
    background: linear-gradient(45deg, rgba($primary,.7) 40%, rgba($snow,.5) 100%), url('../assets/images/header-small.jpg') center no-repeat;
    background-size: cover;
    height: 50vh;
    position: relative;
    @mixin atSmall {
        padding: 5rem 0 10rem;
        height: 70vh;

    }

    @mixin atLarge {
        height: 90vh;
    }

    &__text {
        width: 25rem;
        right: 1rem;
        position: absolute;
        bottom: -5rem;
        border-radius: .5rem;
        padding: 2rem;
        color: $primary;
        background-color: rgba($secondary, .8);

        @mixin atLarge {
            right: 10rem;
            width: 40rem;
            height: 25rem;
            padding: 5rem;
        }
    }
}