.nav {
    width: 100vw;
    /*this will be animated*/
    height: 0;
    transition: height .25s ease-in-out;

    @mixin atLarge {
        height: auto;
        width: 50rem;
        display: flex;
        justify-content: space-between;
    }


    /* this will be added when the hamburger is clicked*/
    &.show {
        height: 100vh;
        /*all these styles will happen when the show class is on the nav*/
        .nav__hamburger-line::before {
            transform: rotate(40deg);
        }

        .nav__hamburger-line {
            background-color: transparent;
        }

        .nav__hamburger-line::after {
            transform: rotate(-45deg) translateY(3px);
        }
    }
    

    &__hamburger {
        height: 3.5rem;
        width: 3.5rem;
        position: fixed;
        top: 1rem;
        right: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @mixin atLarge {
            display: none;
        }
    }

    &__hamburger-line {
        width: 100%;
        height: 2px;
        background-color: $snow;
        position: relative;
        transition: .25s ease-in-out;
    }

    &__hamburger-line::after, &__hamburger-line::before {
        content: '';
        width: 100%;
        height: 2px;
        background-color: $snow;
        position: absolute;
        color: $snow;
        transition: .25s ease-in-out;

    }

    &__hamburger-line::before {
        top: -1rem;
        transform-origin: bottom left;
    }

   

    &__hamburger-line::after {
        top: 1rem;
        transform-origin: bottom left;
    }

    

    &__links {
        margin-bottom: 5rem;
        padding: 2rem 0;
        display: flex;
        flex-direction: column;

        @mixin atLarge {
            margin: 0;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__link {
        font-size: 1.3rem;
        text-transform: uppercase;
        padding: 1rem;
        transition: .25s;

        @mixin atLarge {
            font-size: 1.8rem;
            line-height: 1.8;
        }
    }

    &__link:hover {
        color: $secondary;
    }

    &__sign {
        font-size: 1.3rem;
        text-align: center;
        padding-top: 2rem;
    }

    &__login, &__signup {
        display: inline-block;
        padding: 1.5rem 2.5rem;
        text-transform: uppercase;
        transition: .25s;
        background-color: $secondary;
        color: $primary;
        font-weight: bold;
        font-size: 1.8rem;
    }

    &__login {
        background-color: $snow;
        color: $primary;
        margin-right: 5px;

        &:hover {
            background-color: $primary;
            color: $snow;
        }
    }

    &__signup:hover {
        background-color: $primary;
        color: $secondary;
    }
    
}