.newsletter {
    padding: 5rem 0;
    background-color: $secondary;
    text-align: center;

    &__form {
        margin-top: 3rem;
        display: flex;
        justify-content: center;

        @mixin atMedium {
            width: 70%;
            margin: 3rem auto 0;
        }
    }

    &__input {
        border: none;
        outline: none;
        padding: .5rem;
        font-size: 1.2rem;
        width: 80%;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        color: $grey;
        background-color: $tan;

        @mixin atLarge {
            font-size: 1.6rem;
            padding: 2rem;
        }
    }

    &__input:focus {
        border: none;
    }


}