.trips {
    background-color: $lightBlue;
    padding: 5rem 0;
    
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 3rem;
        h2 span {
            display: block;
        }
    }

     &__slideshow {
        width: 25rem;
        height: 40rem;
        margin: auto;
        overflow: hidden;
        position: relative;

        @mixin atSmall {
            width: 30rem;
        }
    } 

    &__trip {
        position: absolute;
        /*needs to be change on larger screens*/
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: .5rem;
        box-shadow: 5px 5px 8px rgba(0,0,0,.3);
        transition: .25s ease-in-out;
        opacity: 0;

        
    }

    &__trip.current {
        opacity: 1;
    }

    &__img {
        width: 100%;
        height: 100%;
    }

    &__text {
        @mixin clearfix;
        width: 100%;
        position: absolute;
        bottom: 0;
        background-color: $tan;
        padding: 2rem 1rem;
        background-color: $primary;
    }

    &__trip--1 {
        z-index: 10;
    }

    &__trip--2 {
        z-index: 9;
    }

    &__trip--3 {
        z-index: 8;
    }

    &__trip--4 {
        z-index: 7;
    }
}